.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  justify-content: center;
  margin: 1rem;
}

.nav-links button {
  cursor: pointer;
  color: #007BFF;
  background: transparent;
  padding: 0.5rem;
  border: none;
  font-weight: bold;
  /* make text bold */
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  color: #0056b3;
}

.nav-links a {
  color: #007BFF;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  /* make text bold */
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #0056b3;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #be1515;
    color: #292929;
  }
}