.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
}

.slideshow-container {
    max-width: calc(100% - 80px);
    /* Subtract the left and right padding from the width */
    margin: 0 auto;
    padding: 0 40px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.info-card {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide.active {
    display: block;
}

.users-container {
    margin-top: 20px;
}

.image-description {
    position: absolute;
    bottom: 60%;
    font-size: x-large;
    color: black;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}